# --- Variables pour les fichiers utils ---

# --- apply_chroma_key ---
IMAGE_APPLY_CHROMA_KEY_TO = "/chemin/image/où/appliquer/chroma_key"
IMAGE_RESULT_APPLY_CHROMA_KEY = "/chemin/image/transformée"

# --- changer_steps_nom_repertoires ---
DIR_TO_RENAME = "/chemin/répertoire/à/renommer"

# --- count_images ---
DIR_TO_COUNT_IMAGES = "/chemin/répertoire/à/compter"

# --- upscale_alpha_suppress ---
DIR_TRAIN_DATASET_TO_UPSCALE = "/chemin/répertoire/dataset/entrainement/à/upscale"
DIR_CONTROL_DATASET_TO_UPSCALE = "/chemin/répertoire/dataset/control/à/upscale"
DIR_TRAIN_DATASET_UPSCALED = "/chemin/répertoire/dataset/entrainement/upscaled"
DIR_CONTROL_DATASET_UPSCALED = "/chemin/répertoire/dataset/control/upscaled"

# --- verifier_datasets ---
DIR_TRAIN_DATASET_TO_VERIFY = "/chemin/répertoire/dataset/entrainement/à/vérifier"
DIR_CONTROL_DATASET_TO_VERIFY = "/chemin/répertoire/dataset/control/à/vérifier"

# --- verifier_synthaxe ---
DIR_TRAIN_DATASET_CAPTIONS = "/chemin/répertoire/captions/dataset/entrainement/à/vérifier"
DIR_CONTROL_DATASET_CAPTIONS = "/chemin/répertoire/captions/dataset/control/à/vérifier"