# --- VS CODE ---
.vscode

# --- PYTHON ---
__pycache__/

# --- TEST ---
htmlcov/
.coverage
.pytest_cache/

# --- CONFIG LOCALE ---
.env

# --- FICHIERS TESTS ET RESSOURCES LOCAUX ---
generation.py
captions.json
src/resources/V11/
src/resources/V12/
src/resources/V13/
src/resources/V14/
src/resources/V15/
src/resources/V16/
src/resources/V17/
src/resources/V18/
src/resources/V19/
src/resources/V20/
src/resources/V21/
src/resources/V22/
src/resources/V23/