accelerate==1.11.0
bitsandbytes==0.49.1
diffusers==0.35.2
fastapi==0.128.0
huggingface_hub==0.36.0
numpy==2.4.1
packaging==26.0
peft==0.17.1
Pillow==12.1.0
pydantic==2.12.5
pytest==8.4.2
python-dotenv==1.2.1
starlette==0.52.1
torch==2.9.0
torchvision==0.25.0
tqdm==4.67.1
transformers==4.57.1
wandb==0.24.1
xformers==0.0.34
